* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #737373;
    color: #fff;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #5c5c5c;
}


.logo {
    color: orange;
    font-size: 24px;
    font-weight: bold;
}


nav ul {
    display: flex;
    list-style: none;
}


nav ul li {
    margin-right: 20px;
}


nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s;
}


nav ul li a:hover {
    background-color: orange;
    border-radius: 5px;
}


.search-box {
    display: flex;
}


.search-box input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}


.search-btn {
    background-color: orange;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}


.search-btn:hover {
    background-color: #333;
}


main {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}


.content {
    width: 50%;
}


.content h1 {
    font-size: 3em;
    color: white;
}


.highlight {
    color: orange;
}


.content p {
    margin: 20px 0;
    line-height: 1.6;
}


.join-btn {
    padding: 10px 20px;
    background-color: orange;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.join-btn:hover {
    background-color: #333;
}


.login-form {
    width: 40%;
}


.form-container {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
}


.form-container h2 {
    background-color: white;
    color: #333;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}


form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    background: transparent;
    border-bottom: 2px solid orange;
    color: white;
    outline: none;
}


form input:hover {
    border-bottom: 2px solid white;
    outline: none;
}


.login-btn, .email-login-btn {
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}


.login-btn:hover, .email-login-btn:hover {
    background-color: #555;
    color: white;
}


.form-container p {
    text-align: center;
    margin-bottom: 10px;
}


.form-container a {
    color: orange;
    text-decoration: none;
}


.form-container a:hover {
    text-decoration: underline;
}


.email-login-btn {
    background-color: white;
    color: black;
    border: 1px solid orange;
}


